DemoTester/obj/
HL2DM_Demo_Parser/obj/
DemoTest/bin/
HL2DM_Demo_Parser/bin/
DemoTester\obj\
DemoTester\bin\
HL2DM_Demo_Parser\bin\
HL2DM_Demo_Parser\obj\
DemoTester/bin/Debug/net8.0/DemoTester.dll
DemoTester/bin/Debug/net8.0/DemoTester.dll
